/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*global reuse setup*/
.black-background{
  background: #000000;
}
.white-text{
  color: #FFFFFF;
}
.center-text{
  text-align:center;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 0;
  padding-right: 0;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #DDDDDD;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #DDDDDD;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

/* Photo block*/
.photo-block{
  display: inline-block;
  margin: 10px;
  border: 1px solid #FFFFFF;
}
/*Spinner rotate*/
.loading-block{
  text-align:center; 
  color:#DDDDDD; 
  font-size:50px;
}
.glyphicon-refresh-animate {
    -animation: spin .8s infinite linear;
    -webkit-animation: spin2 .8s infinite linear;
    -moz-animation: spin3 .8s infinite linear;
    -ms-animation: spin4 .8s infinite linear;
    -o-animation: spin5 .8s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin3 {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
@-ms-keyframes spin4 {
    from { -ms-transform: rotate(0deg);}
    to { -ms-transform: rotate(360deg);}
}
@-o-keyframes spin5 {
    from { -o-transform: rotate(0deg);}
    to { -o-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}