<div class="header">
  <div class="col-md-4 pull-right">
    <input id="search-input" class="align-right" type="text" ng-model="tags" />
    <button class="btn btn-success" ng-click="clearPrevious(); searchByTags();">Search</button>
  </div>

  <h3 class="text-muted logo white-text">flickrselfie</h3>
        
</div>

<div class="" ng-hide="loading || photos.length > 0">
  <h4 class="white-text center-text">Please input the tag you wish to search.</h4>
</div>

<div class="black-background center-text">
  <div class="photo-block photo-block-{{smallWindow ? 'small' : 'big'}} white-text"  ng-repeat="photo in photos">
    <p>Loading...</p>
    <img src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_q.jpg"/>
  </div>
</div>

<div class="loading-block black-background" ng-show="loading">
  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style=""></span>
</div>
