<div class="header">
  <div class="col-md-3 pull-right">
    <input class="align-right" type="text" ng-model="tags" ng-click="this.setSelectionRange(0, this.value.length);"/>
    <button class="btn btn-success" ng-click="clearPhotos(); searchByTags();">Search</button>
  </div>

  <h3 class="text-muted logo white-text">flickrselfie</h3>
        
</div>

<div class="" ng-hide="loading || photos.length > 0">
  <h4 class="white-text center-text">Please input the tag you wish to search.</h4>
</div>

<div class="black-background">
  <img ng-repeat="photo in photos" class="photo-block" style="width: 150px; height:150px;" src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_q.jpg"/>
</div>

<div class="loading-block black-background" ng-show="loading">
  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style=""></span>
</div>
